<footer>
    <div class="card-group" style="width: 100%">
        <div class="card pl-4">
            <div class="card-body">
                <h4 class="card-title">Informacion de contacto</h4>
                <h4 class="card-text"><small>Dirección: Carrera. 52 N° 9 Sur-42</small></h4>
                <h4 class="card-text"><small>Email: Jalguayabal@gmail.com</small></h4>
                <h4 class="card-text"><small>Horario: Lunes a viernes de 7:30 a.m. a 5:00p.m</small></h4>
            </div>
        </div>
        <div class="card pl-4">
            <div class="card-body">
                <h4 class="card-title">Redes sociales</h4>
                <h4 class="card-text"><small>WhatsApp: 3003948521</small></h4>
                <h4 class="card-text"><small>Facebook</small></h4>
                <h4 class="card-text"><small>Instagram</small></h4>
            </div>
        </div>
    </div>
</footer>